
<style>

canvas{
    width: 100vw !important;
    height: 100vh !important;
    top: 0px;
    position: absolute;
    margin: 0 auto !important;
    z-index:99999999;

}
</style>
<div id="gameDiv"></div>


     
  <script type="text/javascript" src="partes/flappy-juego/phaser.min.js"></script> 
        <!--<script src="//cdn.jsdelivr.net/npm/phaser@3.18.1/dist/phaser.min.js"></script>
            ESTE JUEGO ES DE PHASER 2, Y NO ANDA CON PHASER 3
        -->
        <script type="text/javascript" src="partes/flappy-juego/boot.js"></script>
  

        <script>
        
            function ganasteFlappy(){
                console.log(">>> ganaste al flappy!")
                sacarFlappy();
                mostrarModalConfirmacion("Ganaste un postre gratis! Llamá al mesero y mostrale este mensaje :D", "Ocultar este mensaje")
            }

            function sacarFlappy(){
                for (var i = 0; i < app.partes.length; i++) {
                    if (app.partes[i].id == "flappy"){
                        app.partes.splice(i,1)    
                    }
                }
                $("#flappy").remove();
                flappybird.destroy()
            }

        </script>