<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLU94xw_Qz3MFbKqhJXqu62XKhJtypZNg&sensor=true&libraries=places" type="text/javascript"></script>


<style>

    div#bgnegro{
        position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display:none;

    }
div#contMapa {
    display:none;
    height: 70vh;
    width: 90vw;
    left: 5vw;
    z-index: 999;
    overflow: hidden;
    top: 15vh;
    position: fixed !important;
}
.botonMetreMesa{
margin-right:15px;
margin-bottom:15px;
}

ul.ulDelivery *{
font-family: 'Dosis', 'Open Sans'
}
.reserva{
    background: #AAAAAA;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.reserva.pendiente_aprob{
    background: rgba(241, 139, 165, 0.842);

}
.reserva.pedido_listo{
    background: rgba(150, 236, 183, 0.842);

}
.reserva.yendo{
    background: rgba(243, 255, 80, 0.842);

}

ul.ulDelivery {
    margin: 0px;
    padding: 2vw;
    overflow: scroll;
    background: #fed322;
    padding-top: 10vh;
    padding-bottom: 15vh;
}

    .reserva p b{
        font-weight: bold;
        }

</style>


    <div class="col-12 bar-top">
        <div class="row">
            <div class="col-2">
                <i class="fas fa-angle-left" onclick="botonVolver()"></i>
            </div>
            <div class="col-8" id="nombreMozo">Deliveries</div>
            <div class="col-2">
               <!-- <img src="media/Img/qr-reader.jpg" height="35" onclick="scanQRMesa()" height="100%">-->
            </div>
        </div>
    </div>

<ul id="pedidos_pendientes_delivery"  class="ulDelivery" >



</ul>

<div id="bgnegro"></div>

<div id="contMapa"></div>

<ul id="pedidosListosDelivery" class="ulDelivery" style="display:none">

</ul>

<script>
    function botonVolver() {
        mostrarModalConfirmacion("¿Confirma que desea desloguearse?", "si", "no", usuario.logout, () => { })

    }



console.log(">> admin_delivery.html");
var map=null;

$("#bgnegro").click((e)=>{
    $("#contMapa, #bgnegro").fadeOut();
});
var marcadores=[];
var estadoDeliveryBoy;
function traerPedidosDeliveryBoy(){
    $.ajax({
        url:api.urlServer+"deliveryboy/estado",
        dataType:"json",
        type:"post",
        success:(e)=>{
            console.log(e);
            estadoDeliveryBoy=e;
            armarpedidos(e)
        },error:e=>console.log(e)
    });
}

traerPedidosDeliveryBoy();

function armarpedidos(a){
    $("#pedidos_pendientes_delivery").html("");
    for(let i=0;i<a.pendientes.length;i++){
        $("#pedidos_pendientes_delivery").append(armarUnPedidoDelivery(a.pendientes[i], 0));
    }

    if(a.pendientes.length==0){
        $("#pedidos_pendientes_delivery").html("<p class='text-center' style='width:100%'>No hay pedidos pendientes</p>");
    }

    ///listos:

  
    for(let i=0;i<a.listos.length;i++){
        $("#pedidos_pendientes_delivery").append(armarUnPedidoDelivery(a.listos[i], 1));
    }

 /*   if(a.listos.length==0){
        $("#pedidosListosDelivery").html("<p class='text-center' style='width:100%'>No hay pedidos listos</p>");
    }*/


    setTimeout(traerPedidosDeliveryBoy,5000);
}




function cbMetreReserva(e){
    app.ocultarLoading();
    if(checkStr(e.mensaje)){
        mostrarModalConfirmacion(e.mensaje,"ok");
    }
    console.log(" cb cb metre reserva!");
}

function armarUnPedidoDelivery(a,esta_listo){
/*
id_cliente: -58
id_pedido: 103
lat: -35
nombre_completo: "asdsadads sd asd 
*/
//console.log(a)
if(a.estado_pedido==3) str="<li class='reserva pedido_listo'>";
else if(a.estado_pedido==9) str="<li class='reserva pendiente_aprob'>";
else if(a.estado_pedido==8) str="<li class='reserva yendo'>";
//str="<li class='reserva'>";
str+="<p>Nombre:<b> "+a.nombre_completo+"</b></p>";
str+="<p>Id pedido:<b> "+a.id+"</b></p>";
str+="<p>Hora pedido: <b>"+a.fecha_alta+"</b></p>";
str+="<p>Indicaciones: <b>"+a.direccion+"</b></p>";
str+='<div class="row">'
    
if(a.estado_pedido==9){
    //SI EL PEDIDO ESTA ESPERANDO PARA SER APROBADO POR EL ADMIN, SE PUEDE APROBAR, RECHAZAR Y VER EN EL MAPA
    str+='<div class="text-left col-4"><button class="boton-modal "  class="botonMetreMesa" onclick="verEnMapa('+a.lat+','+a.lng+')">ver mapa</button></div>'
     str+='<div class="text-right col-4"><button class="boton-modal "  class="botonMetreMesa" onclick="aprobarPedido('+a.id+')">aprobar pedido</button></div></div>'
     str+='<div class="text-right col-4"><button class="boton-modal cancelar "  class="botonMetreMesa" onclick="rechazarPedidoDelivery('+a.id+')">rechazar pedido</button></div></div>'
}else{
    //SI EL PEDIDO ESTA LISTO SOLO SE PUEDE VER EN EL MAPA
    str+='<div class="text-left col-12"><button class="boton-modal "  class="botonMetreMesa" onclick="verEnMapa('+a.lat+','+a.lng+')">ver mapa</button></div>'
}
//else if(a.estado_pedido==3) str+='<div class="text-right col-6"><button class="boton-modal "  class="botonMetreMesa" onclick="empezarDelivery('+a.id+')">empezar delivery</button></div></div>'

str+="</li>";

return str;

}

function empezarDelivery(id){
    $.ajax({
        url:api.urlServer+"deliveryboy/empezarViaje",
        dataType:"json",
        type:"post",
        data:{
            token:usuario.token,
            id_pedido:id
        },
        success:(e)=>{
            console.log(e);
            armarpedidos(e)
        },error:e=>console.log(e)
    });
}

var destinoLat
var destinoLng
var tuLat
var tuLng

function verEnMapa(lat,lng){ 
    destinoLat=lat
    destinoLng=lng  
  if(map==null)  armarMapa()
    $("#contMapa, #bgnegro").fadeIn();    
   for(let i=0;i<marcadores.length;i++){
    marcadores[i].setMap(null);
   }
    //meto el icono del delivery boy
    navigator.geolocation.getCurrentPosition((e)=>{
         // tuLat=e.coords.latitude;
         /// tuLng=e.coords.longitude;
    ////LE HARDCODEAMOS DONDE ESTA EL DELIVERY BOY, PARA Q ESTE EN EL NEGOCIO FALSO
         var tuLat = -34.66;
        var tuLng = -58.36;

          meterIconoUsuario(e.coords.latitude, e.coords.longitude);
          meterIconoEnvio(lat,lng);
          calcRoute(tuLat,tuLng, destinoLat, destinoLng)
    });
}

function aprobarPedido(id){
    $.ajax({
        url:api.urlServer+"deliveryboy/aceptarDelivery/"+id,
        dataType:"json",
        type:"post",
        success:(e)=>{
            console.log(e);
            armarpedidos(e)
        },error:e=>console.log(e)
    });
}


function rechazarPedidoDelivery(id){
    function aprobarPedido(id){
    $.ajax({
        url:api.urlServer+"deliveryboy/rechazarDelivery/"+id,
        dataType:"json",
        type:"post",
        success:(e)=>{
            console.log(e);
            armarpedidos(e)
        },error:e=>console.log(e)
    });
}

}

var directionsService, directionsDisplay;

function armarMapa() {
 
        var settings = {
            zoom: 13,
            scrollwheel: true,
            center: (new google.maps.LatLng('-34.655815', '-58.497101')),
            draggable: true,
            disableDefaultUI: true,
            mapTypeControl: false,
            mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
            navigationControl: true,
            navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL },
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('contMapa'), settings);
         directionsService = new google.maps.DirectionsService();
         directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);
    }


    function calcRoute(origenLat,origenLng,destLat,destLng) {
        let ori=new google.maps.LatLng(origenLat, origenLng);
        let dest=new google.maps.LatLng(destLat, destLng);
        var request = {
            origin: ori,
            destination: dest,
            travelMode: google.maps.TravelMode["DRIVING"]
        };
        directionsService.route(request, function(response, status) {
            if (status == 'OK') {
            directionsDisplay.setDirections(response);
            }
        });
    }

    function meterIconoUsuario(latitud,longitud){
        
        let mk= new google.maps.Marker({
            position: (new google.maps.LatLng(latitud, longitud)),
          //  icon: "images/usericon.png",
            // scaledSize: new google.maps.Size(escala*100, escala*100), // scaled size
            draggable: false,
            map: map,
            title: "Vos",
            icon: {
            path: google.maps.SymbolPath.CIRCLE,
            scale: 10
          }
        });
        marcadores.push(mk);
        return mk;
    }

    function meterIconoEnvio(latitud,longitud){
        
        let mk= new google.maps.Marker({
            position: (new google.maps.LatLng(latitud, longitud)),         
            draggable: false,
            map: map,
            title: "Vos"
        });
        marcadores.push(mk);
        return mk;
    }

</script>