
<style>
ul#listaMensajes {
    height: 55vh;
    overflow: scroll;
    padding:0px;
}


    button #botonEnviar {
        background: url("media/Img/sendIcon.png") no-repeat;
    }

    .containterMensaje {
        background: #50e089;
        color: #ffffff;
        border-radius: 5%;
        margin: 1%;
    }
</style>

<div class="fondo-modal" id="nuevoDelivery">
    <div class="contenedor-modal">
        <div class="cuerpo-modal">
        
                
                    <ul id="listaMensajes"></ul>
               
           
            <hr>

            <div class="row">
                <div class="col-8">   <input  type="text" id="mensajeEnviar"></div>
             <div class="col-4">                <button id="botonEnviar boton-modal" onclick="enviarMensaje()"> Enviar </button>   </div>
            </div><br>
            <div class="row">    
                        <!--<button class="boton-modal" onclick="TraerMensajesChat()">TraerChat</button>-->
            <div class="col-12 text-center">
                    <button class="boton-modal" onclick="ocultarChat()">Cerrar</button>
            </div>   
              </div>
        </div>
    </div>
</div>

<script>

 //   var mensajes = [];
    var firebase;
    var intvl;
    var messagesRef


    function TraerMensajesChat() {
        //console.clear();
        $("#listaMensajes").html("");
        messagesRef = firebase.database().ref().child("mensajes_delivery/pedido_"+mesaActiva.pedidos[0].id);

        messagesRef.on("value", (snap) => {
            var data = snap.val();
          //  mensajes = [];
            for (var key in data) {
               // mensajes.push(data[key]);
                $("#listaMensajes").append(armarUnMensaje(data[key]))
            }
        });
        $("#listaMensajes")[0].scrollTop = $("#listaMensajes")[0].scrollHeight;
    }

    function enviarMensaje() {

        var elMensaje = $("#mensajeEnviar").val();

        var fechaActual = new Date().toLocaleDateString() + " " + new Date().toLocaleTimeString();
        var messagesRef = firebase.database().ref().child("mensajes_delivery/pedido_"+mesaActiva.pedidos[0].id);
        messagesRef.push({ mensaje: elMensaje, nombre: "Daro prueba", fecha: fechaActual });
        $("#mensajeEnviar").val("");

    }

    function armarUnMensaje(mensaje) {

        var horaEscrito = mensaje.fecha.split(" ")[1];

        html = '';
        html += '<div class="containterMensaje">'
        html += '<div class="col-5">' + horaEscrito + '</div>'
        html += '<div class="col-15">' + mensaje.nombre + ' dice: ' + mensaje.mensaje + '</div>'
        html += '</div>'
        return html
    }

    function ocultarChat() {
        app.esconderUnaParte("partes/chatDelivery.html");
       clearInterval( intervalChat)
     }


</script>
