<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLU94xw_Qz3MFbKqhJXqu62XKhJtypZNg&sensor=true&libraries=places"
    type="text/javascript"></script>


<style>
    div#bgnegro {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: none;

    }

    div#contMapa {
        display: none;
        height: 70vh;
        width: 90vw;
        left: 5vw;
        z-index: 999;
        overflow: hidden;
        top: 15vh;
        position: fixed !important;
    }

    .botonMetreMesa {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    ul * {
        font-family: 'Dosis', 'Open Sans'
    }

    .reserva {
        background: #AAAAAA;
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .reserva.pendiente_aprob {
        background: rgba(241, 139, 165, 0.842);

    }

    .reserva.pedido_listo {
        background: rgba(150, 236, 183, 0.842);

    }

    .reserva.yendo {
        background: rgba(243, 255, 80, 0.842);

    }

    ul#pedidosListosDelivery {
        height: 100vh;
        margin: 0px;
        padding: 2vw;
        overflow: scroll;
        background: #fed322;
        padding-top: 10vh;
        padding-bottom: 15vh;
    }

    .reserva p b {
        font-weight: bold;
    }
</style>


<div class="col-12 bar-top">
    <div class="row">
        <div class="col-2">
            <i class="fas fa-angle-left" onclick="botonVolver()"></i>
        </div>
        <div class="col-8" id="nombreMozo">Estado - Niño Delivery</div>
        <div class="col-2">
            <!-- <img src="media/Img/qr-reader.jpg" height="35" onclick="scanQRMesa()" height="100%">-->
        </div>
    </div>
</div>



<div id="bgnegro"></div>

<div id="contMapa"></div>

<ul id="pedidosListosDelivery">

</ul>

<!--
<div class="container-fluid menu-botton-selec" id="footer">
    <div class="col-12">
        <div class="row">
               <div class="col-6  botonFooterAdmin active" onclick="cambiarSeccionDeliveryBoy(0, this)">
                <img src="media/Img/calendario.png" />
                <h6>pedidos pendientes</h6>
              </div>


       
            <div class="col-6 botonFooterAdmin" onclick="cambiarSeccionDeliveryBoy(1, this)">
                <img src="media/Img/estadisticas.png" />
                <h6>pedidos listos</h6>
            </div>
        </div> 

    </div>    
</div>
-->


<script>
    function botonVolver() {
        mostrarModalConfirmacion("¿Confirma que desea desloguearse?", "si", "no", usuario.logout, () => { })

    }


    /*
        function cambiarSeccionDeliveryBoy(q,quien){
            if(q==0){
                $("#reservas_lista").show();
                $("#pedidosListosDelivery").hide();
            }else{
                $("#reservas_lista").hide();
                $("#pedidosListosDelivery").show();
            }
            $(".botonFooterAdmin").removeClass("active")
             $(quien).addClass("active")
        }*/

    console.log(">> deliveryboy_estado.html");
    var map = null;

    $("#bgnegro").click((e) => {
        $("#contMapa, #bgnegro").fadeOut();
    });
    var marcadores = [];
    var estadoDeliveryBoy;
    function traerPedidosDeliveryBoy() {
        $.ajax({
            url: api.urlServer + "deliveryboy/estado",
            dataType: "json",
            type: "post",
            success: (e) => {
                console.log(e);
                estadoDeliveryBoy = e;
                armarpedidos(e)
            }, error: e => console.log(e)
        });
    }

    traerPedidosDeliveryBoy();

    function armarpedidos(a) {
        /*   $("#reservas_lista").html("");
           for(let i=0;i<a.pendientes.length;i++){
               $("#reservas_lista").append(armarUnPedido(a.pendientes[i]));
           }
       
           if(a.pendientes.length==0){
               $("#reservas_lista").html("<p class='text-center' style='width:100%'>No hay pedidos pendientes</p>");
           }*/

        ///listos:

        $("#pedidosListosDelivery").html("");
        for (let i = 0; i < a.listos.length; i++) {
            $("#pedidosListosDelivery").append(armarUnPedido(a.listos[i]));
        }

        if (a.listos.length == 0) {
            $("#pedidosListosDelivery").html("<p class='text-center' style='width:100%'>No hay pedidos listos</p>");
        }


        setTimeout(traerPedidosDeliveryBoy, 5000);
    }




    function cbMetreReserva(e) {
        app.ocultarLoading();
        if (checkStr(e.mensaje)) {
            mostrarModalConfirmacion(e.mensaje, "ok");
        }

    }

    function armarUnPedido(a) {
        /*
        id_cliente: -58
        id_pedido: 103
        lat: -35
        nombre_completo: "asdsadads sd asd 
        */
        //console.log(a)
        if (a.estado_pedido == 3) str = "<li class='reserva pedido_listo'>";
        else if (a.estado_pedido == 9) str = "<li class='reserva pendiente_aprob'>";
        else if (a.estado_pedido == 8) str = "<li class='reserva yendo'>";
        str += "<p>Nombre:<b> " + a.nombre_completo + "</b></p>";
        str += "<p>Id pedido:<b> " + a.id + "</b></p>";
        str += "<p>Hora pedido: <b>" + a.fecha_alta + "</b></p>";
        str += "<p>Indicaciones: <b>" + a.direccion + "</b></p>";

        str += '<div class="row"><div class="text-left col-6"><button class="boton-modal "  class="botonMetreMesa" onclick="verEnMapa(' + a.lat + ',' + a.lng + ')">ver mapa</button></div>'
        //if(a.estado_pedido==9) str+='<div class="text-right col-6"><button class="boton-modal "  class="botonMetreMesa" onclick="aprobarPedido('+a.id+')">aprobar pedido</button></div></div>'
        if (a.estado_pedido == 3) str += '<div class="text-right col-6"><button class="boton-modal "  class="botonMetreMesa" onclick="empezarDelivery(' + a.id + ')">empezar delivery</button></div></div>'
        if (a.estado_pedido == 8) str += '<div class="text-right col-6"><button class="boton-modal "  class="botonMetreMesa" onclick="abrirChat(' + a.id + ')">abrir chat</button></div></div>'

        str += "</li>";

        return str;

    }
    var intervalChat;

    function abrirChat(id) {
        idPedidoAbierto=id;
        // app.traerHTML("partes/chatDelivery.html", true, true, "chatDelivery", false, '', () => {
        // try{clearInterval(intervalChat)}catch(e){}
        $("#nuevoDelivery").show();
        $("#listaMensajes").html("");
        intervalChat = setInterval(()=>{
            TraerMensajesChat(id)
        }, 1000)

        //   });

    }

    function empezarDelivery(id) {
        $.ajax({
            url: api.urlServer + "deliveryboy/empezarViaje",
            dataType: "json",
            type: "post",
            data: {
                token: usuario.token,
                id_pedido: id
            },
            success: (e) => {
                console.log(e);
                armarpedidos(e)
            }, error: e => console.log(e)
        });
    }

    var destinoLat
    var destinoLng
    var tuLat
    var tuLng

    function verEnMapa(lat, lng) {
        destinoLat = lat
        destinoLng = lng
        if (map == null) armarMapa()
        $("#contMapa, #bgnegro").fadeIn();
        for (let i = 0; i < marcadores.length; i++) {
            marcadores[i].setMap(null);
        }
        //meto el icono del delivery boy
        navigator.geolocation.getCurrentPosition((e) => {
            // tuLat=e.coords.latitude;
            /// tuLng=e.coords.longitude;
            ////LE HARDCODEAMOS DONDE ESTA EL DELIVERY BOY, PARA Q ESTE EN EL NEGOCIO FALSO
            var tuLat = -34.66;
            var tuLng = -58.36;

            meterIconoUsuario(e.coords.latitude, e.coords.longitude);
            meterIconoEnvio(lat, lng);
            calcRoute(tuLat, tuLng, destinoLat, destinoLng)
        });
    }

    function aprobarPedido(id) {
        $.ajax({
            url: api.urlServer + "deliveryboy/aceptarDelivery/" + id,
            dataType: "json",
            type: "post",
            success: (e) => {
                console.log(e);
                armarpedidos(e)
            }, error: e => console.log(e)
        });
    }


    var directionsService, directionsDisplay;

    function armarMapa() {

        var settings = {
            zoom: 13,
            scrollwheel: true,
            center: (new google.maps.LatLng('-34.655815', '-58.497101')),
            draggable: true,
            disableDefaultUI: true,
            mapTypeControl: false,
            mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
            navigationControl: true,
            navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL },
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('contMapa'), settings);
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);
    }


    function calcRoute(origenLat, origenLng, destLat, destLng) {
        let ori = new google.maps.LatLng(origenLat, origenLng);
        let dest = new google.maps.LatLng(destLat, destLng);
        var request = {
            origin: ori,
            destination: dest,
            travelMode: google.maps.TravelMode["DRIVING"]
        };
        directionsService.route(request, function (response, status) {
            if (status == 'OK') {
                directionsDisplay.setDirections(response);
            }
        });
    }

    function meterIconoUsuario(latitud, longitud) {

        let mk = new google.maps.Marker({
            position: (new google.maps.LatLng(latitud, longitud)),
            //  icon: "images/usericon.png",
            // scaledSize: new google.maps.Size(escala*100, escala*100), // scaled size
            draggable: false,
            map: map,
            title: "Vos",
            icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 10
            }
        });
        marcadores.push(mk);
        return mk;
    }

    function meterIconoEnvio(latitud, longitud) {

        let mk = new google.maps.Marker({
            position: (new google.maps.LatLng(latitud, longitud)),
            draggable: false,
            map: map,
            title: "Vos"
        });
        marcadores.push(mk);
        return mk;
    }

</script>


<style>
    ul#listaMensajes {
        height: 55vh;
        overflow: scroll;
        padding: 0px;
    }


    button #botonEnviar {
        background: url("media/Img/sendIcon.png") no-repeat;
    }

    .containterMensaje {
        background: #50e089;
        color: #ffffff;
        border-radius: 5%;
        margin: 1%;
    }

    .containterMensaje.del_otro{
        background: #c379ee;
        margin: 2%;
    }
</style>

<div class="fondo-modal" id="nuevoDelivery" style="display:none">
    <div class="contenedor-modal">
        <div class="cuerpo-modal">


            <ul id="listaMensajes"></ul>


            <hr>

            <div class="row">
                <div class="col-8"> <input type="text" id="mensajeEnviar"></div>
                <div class="col-4"> <button id="botonEnviar boton-modal" onclick="enviarMensaje()"> Enviar </button>
                </div>
            </div><br>
            <div class="row">
                <!--<button class="boton-modal" onclick="TraerMensajesChat()">TraerChat</button>-->
                <div class="col-12 text-center">
                    <button class="boton-modal" onclick="ocultarChat()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var idPedidoAbierto;
    //   var mensajes = [];
    var firebase;
    var intvl;
    var messagesRef
    const firebaseConfig = {
        apiKey: "AIzaSyBvTHrH3UT7BClIMur6D-x1HjjW3ZLgV24",
        authDomain: "blabla-79bc7.firebaseapp.com",
        databaseURL: "https://blabla-79bc7.firebaseio.com",
        projectId: "blabla-79bc7",
        storageBucket: "blabla-79bc7.appspot.com",
        messagingSenderId: "798764172906"
    };


    firebase.initializeApp(firebaseConfig);

    function TraerMensajesChat(id) {
        //console.clear();
        $("#listaMensajes").html("");
        messagesRef = firebase.database().ref().child("mensajes_delivery/pedido_" + id);

        messagesRef.on("value", (snap) => {
            var data = snap.val();
            //  mensajes = [];
            for (var key in data) {
                // mensajes.push(data[key]);
                $("#listaMensajes").append(armarUnMensaje(data[key]))
            }
        });
        $("#listaMensajes")[0].scrollTop = $("#listaMensajes")[0].scrollHeight;
    }

    function enviarMensaje() {

        var elMensaje = $("#mensajeEnviar").val();

        var fechaActual = new Date().toLocaleDateString() + " " + new Date().toLocaleTimeString();
        var messagesRef = firebase.database().ref().child("mensajes_delivery/pedido_" +idPedidoAbierto);
        messagesRef.push({ mensaje: elMensaje, nombre: usuario.data.nombre_completo, fecha: fechaActual });
        $("#mensajeEnviar").val("");

    }

    function armarUnMensaje(mensaje) {

        var horaEscrito = mensaje.fecha.split(" ")[1];

        html = '';
        if(mensaje.nombre==usuario.data.nombre_completo)        html += '<div class="containterMensaje mio">'
        else       html += '<div class="containterMensaje del_otro">'

        html += '<div class="col-5">' + horaEscrito + '</div>'
        html += '<div class="col-15">' + mensaje.nombre + ' dice: ' + mensaje.mensaje + '</div>'
        html += '</div>'
        return html
    }

    function ocultarChat() {
        idPedidoAbierto=-1;
        $("#nuevoDelivery").hide();
        clearInterval(intervalChat)
    }


</script>