  <!-- Menu botton -->
    <div class="container-fluid menu-botton-selec" id="footer">
        <div class="col-12">
            <div class="row">
                   <div class="columna-medio-16  botonFooterAdmin active" onclick="cambiarSeccion('admin_estado.html', this)">
                    <img src="media/Img/calendario.png" />
                    <h6>Estado Actual</h6>
                </div>


                <div class="columna-medio-16 botonFooterAdmin" onclick="cambiarSeccion('admin_empleados.html', this)">
                    <img src="media/Img/Empleados.png" />
                    <h6>Empleados</h6>
                </div>
             
                <div class="columna-medio-16 botonFooterAdmin" onclick="cambiarSeccion('admin_mesas.html', this)">
                    <img src="media/Img/mesas.png" />
                    <h6>Mesas</h6>
                </div>
                
                <div class="columna-medio-16 botonFooterAdmin" onclick="cambiarSeccion('metre_reservas.html', this)">
                    <img src="media/Img/facturacion.png" />
                    <h6>Reservas</h6>
                </div>
                
                <div class="columna-medio-16 botonFooterAdmin" onclick="cambiarSeccion('admin_productos.html', this)">
                    <img src="media/Img/productos.png" />
                    <h6>productos</h6>
                </div>
                <div class="columna-medio-16 botonFooterAdmin" onclick="cambiarSeccion('admin_delivery.html', this)">
                    <img src="media/Img/estadisticas.png" />
                    <h6>delivery</h6>
                </div>
            </div>    
        </div>    
    </div>
    <!-- end Menu botton -->

    <script>

        function cambiarSeccion(url,quien){
            $(".botonFooterAdmin").removeClass("active")
            $(quien).addClass("active")
            app.traerHTML("partes/"+url, false, false, url);
        }
    </script>