<style>
.menu-botton-selec img {
    text-align: center;
    width: 50%;
    max-width: 10vw;
}
</style>






    <div class="container contenedor-mesas" >
        <!-- primera fila de mesas -->
        <div class="row filas-mesas" id="contenedorMesasMozo">

        </div>

    </div>





<script>

///////////////COSAS DEL QR:
    // Para verificar disponibilidad de una mesa.
    // Para relacionar al cliente con una mesa.
    // Para ver el estado del pedido.
    // Para acceder a la encuesta de satisfacción.
    //{"tipo":"mesa","id":5,"nombreResto":"BlaBla"}
    //https://www.the-qrcode-generator.com/



function callBackQRMozo(data) {

    obj = JSON.parse(data.text);

    if (obj.tipo == "mesa") {
        verMesaMozo(obj.id);
    }
}

function QRmal(error) {
alert("Error: " + error)
}

///////////////////FIN COSAS DEL QR






    function botonVolver() {
        mostrarModalConfirmacion("¿Confirma que desea desloguearse?", "si", "no", usuario.logout, () => { })

    }

    console.log("estado.js")

    var delayTraerEstado = 5000;
    var estadoActual = {};
    var mesas;
    var mesasCargadas = 0;
    var docReady = 0;
   





    function setupEstadoMetre() {
        //cargarEstadoMozo();
        api.traerMesas((e) => {
            Mesa.armarGraficoMesas($("#contenedorMesasMozo"), null)//este null es onclick de cada mesa

            for (var i = 0; i < api.mesas.length; i++) {
                try {
                    $(".mesa." + api.mesas[i].id_mesa + " img.mesaImg")[0].src = Mesa.urlPNGsMesas + api.mesas[i].sillas + "/" + Mesa.coloresMesas[api.mesas[i].estado_mesa] + ".png";
                } catch (e) { }
            }
            setTimeout(setupEstadoMetre, 6000);
        })


    }


    $(document).ready(function () {
        console.log("doc ready estado metre");
        setupEstadoMetre();

        docReady = 1;

        //populo cosas:


        $("#nombreMozo").html(usuario.dataUsuario().nombre_completo)



        //listeners






    });

    function verMesaMozo(id) {
        //aca la funcion ver mesa es esta
        //en la pantalla de mesas la funcion es otra

        let i = Mesa.mesaId2i(id)
        let mesa = api.estadoMozo.mesas[i];
        console.log(mesa.estado_mesa);
        if (mesa.estado_mesa == 0) {
            //LIBRE
            mostrarModalNuevoCliente(id);
        } else {
            mostrarEstadoMesaAdmin(id)
        }



    }
/*
    function cbPedidosMozo() {
       // console.log("cb estado mozo", api.estadoMozo)
        //esta funcion se ejecuta cada 5 segundos


        for (var i = 0; i < api.estadoMozo.mesas.length; i++) {
            try {
                $(".mesa." + api.estadoMozo.mesas[i].id_mesa + " img.mesaImg")[0].src = Mesa.urlPNGsMesas + api.estadoMozo.mesas[i].sillas + "/" + Mesa.estadoMesas[api.estadoMozo.mesas[i].estado_mesa] + ".png";
            } catch (e) { }
        }

      //  compararEstadoAnteriorYActual()
     //   mostrarSiguienteNotificacion()


        //espera y pide el estado al server de nuevo
        setTimeout(() => {
            if (usuario.tokenValido()) {
                if (usuario.dataUsuario().id_rol == 8) { //METRE
                    //si te deslogueaste esto deja de pasar
                    api.cargarEstadoMozo(cbPedidosMozo)
                }
            }

        }, delayTraerEstado)




    }*/


</script>