<style>

.botonMetreMesa{
margin-right:15px;
margin-bottom:15px;
}

#reservas_lista *{
font-family: 'Dosis', 'Open Sans';

}


.reserva{
    background: #AAAAAA;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul#reservas_lista {
    margin: 0px;
    padding: 2vw;
    overflow: scroll;
    background: #fed322;
    padding-top: 10vh;
    padding-bottom: 15vh;
}

    .reserva p b{
        font-weight: bold;
        }

</style>

<ul id="reservas_lista">

<li class="reserva"></li>

</ul>

<script>
console.log(">> metre_Reservas.html");

function traerReservas(){
    $.ajax({
        url:api.urlServer+"reservas/listadoDeHoy",
        dataType:"json",
        success:(e)=>{
            console.log(e);
            armarReservas(e)
        },error:e=>console.log(e)
    });
}

traerReservas();

function armarReservas(a){
    $("#reservas_lista").html("");
    for(let i=0;i<a.length;i++){
        $("#reservas_lista").append(armarUnaReserva(a[i]));
    }

    if(a.length==0){
        $("#reservas_lista").html("<p class='text-center' style='width:100%'>No hay reservas pendientes</p>");
    }

    setTimeout(traerReservas,5000);
}

function rechazarReserva(id){
    app.mostrarLoading()
    api.rechazarReserva(id,cbMetreReserva)
}


function aprobarReserva(id){
    api.aprobarReserva(id,cbMetreReserva)
}

function asignarMesaAEstaReserva(id){
    app.mostrarLoading()
    api.metreAsignaMesaAReserva(id,cbMetreReserva);
}

function cbMetreReserva(e){
   
    app.ocultarLoading();
    if(checkStr(e.mensaje)){
        mostrarModalConfirmacion(e.mensaje,"ok", null,()=>{ armarReservas(e)});
    }
    console.log(" cb cb metre reserva!");
}

function armarUnaReserva(a){
/*
comensales: 0
confirmada: 0
fecha: "2019-09-01 00:00:00"
fecha_alta: "2019-05-27 22:47:27"
id: 1
id_cliente: 2
nombre_completo:12e,
id_mesa: 2*/

if(usuario.data.id_rol==8){
    //metre
    if(a.confirmada!=2 ) return "";
}else{
    //admin
    if(a.confirmada!=0) return "";
}

str="<li class='reserva row'>";
str+="<p>Nombre: "+a.nombre_completo+"</p><hr>";
str+="<p>Cantidad de Comensales:<b> "+a.comensales+"</b></p>";
str+="<p>Hora de Reserva: <b>"+a.fecha_alta+"</b></p>";
str+="<p>Para cuándo: <b>"+a.fecha+"</b></p>";
//EL ADMIN APRUEBA Y RECHAZA
//EL METRE ASIGNA MESA
if( usuario.data.id_rol==1 ||  usuario.data.id_rol==7) {
    str+='<div class="text-left col-6"><button class="boton-modal botonMetreMesa"  onclick="aprobarReserva('+a.id+')">aprobar reserva</button></div>'
    str+='<div class="text-right col-6"><button class="boton-modal cancelar botonMetreMesa" onclick="rechazarReserva('+a.id+')">Rechazar reserva</button></div>'

}else{
     str+='<div class="text-left col-6"><button class="boton-modal botonMetreMesa"  onclick="asignarMesaAEstaReserva('+a.id+')">Asignar Mesa</button></div>'
}

str+="</li><br>";

return str;

}
</script>