<body>
    <div class="fondo-modal" id="perfilesDePrueba">
        <div class="contenedor-modal">
            <div class="cuerpo-modal contenedorPruebas">
                <div class="container">

                    <div class="row" >
                        <div class="col-6">
                            <button onclick='logueoPrueba(1)' class="boton-modal">Socio</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button onclick='logueoPrueba(2)' class="boton-modal">Meserx</button>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-6">
                            <button onclick='logueoPrueba(3)' class="boton-modal">Bartender</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button onclick='logueoPrueba(4)' class="boton-modal">Cervecerx</button>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-6">
                            <button onclick='logueoPrueba(5)' class="boton-modal">Cocinerx</button>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-6">
                            <button onclick='logueoPrueba(7)' class="boton-modal">Admin</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button onclick='logueoPrueba(8)' class="boton-modal">Metre</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button onclick='logueoPrueba(9)' class="boton-modal">delivery boy</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button onclick='sacarModalPerfilesDePrueba()'
                                class="boton-modal cancelar">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>

    function logueoPrueba(rol) {

        switch (rol) {
            case 1:
                mail = "fsaiegh@gmail.com";
                break;
            case 2:
                mail = "male@gmail.com";
                break;
            case 3:
                mail = "rcastro@gmail.com";
                break;
            case 4:
                mail = "chicob@gmail.com";
                break;
            case 5:
                mail = "mario@baracus.com";
                break;
            case 6:
                mail = "jkrowling@gmail.com";
                break;
            case 7:
                mail = "dolinuck@gmail.com";
                break;
            case 8:
                mail = "metre@a.com";
                break;
            case 9:
                mail = "delivery@gmail.com";
                break;
            default:
                alert("Sin programar");
        }
        clave = "1234";
        api.logueo(mail, clave, callbackPruebaPerfil);
    }

    function sacarModalPerfilesDePrueba() {
        app.esconderUnaParte(null, "modalPerfilesDePrueba");

    }

    let callbackPruebaPerfil = function (r) {
        console.log(r);
        if (r.itsOK == false) {
            mostrarModalConfirmacion(r.mensaje, "ok", null, null, null)
        } else {
            usuario.meterleToken(r.token)
            app.quePasaDespuesDeLogin()

        }
    }//cblogin

</script>