<div class="fondo-modal" id="verEstadoMesaAdmin">
    <div class="contenedor-modal">
        <div class="cuerpo-modal">
            <div class="container-cuerpo">
                <div class="container">
                    <div class="row"> <span id="idMesa" class="idMesa">#5</span></div>
                    <div class="row">
                        <div class="col-6 pp-n-left">
                            <div class="info"><img src="media/Img/usuario-seleccionado.png"> <span
                                    id="nombreCliente"></span></div>
                        </div>
                        <div class="col-6 pp-n-right">
                            <div class="info"><img src="media/Img/visitas.png"> Visitas: <strong
                                    id="cantVisitas">-</strong> </div>
                        </div>
                        <!--<div class="col-12 pp-n-right">
                            <div class="info"><img src="media/Img/calendario-seleccionado.png"><span id="ultimaVisita">
                                    Ultima Visita: 25 - JULIO - 2018</span></div>
                        </div>-->
                        <div class="col-6 pp-n-left">
                            <div class="info"><img src="media/Img/usuarios-gris.png"> Total De Comenzales: <strong
                                    id="cantComensales">#-</strong> </div>
                        </div>
                        <div class="col-6 pp-n-right">
                            <div class="info"> <img src="media/Img/checar-gris.png">
                                Llegada: <strong id="horaLlegadaMesa">xx</strong> </div>
                        </div>
                        <div class="col-6 pp-n-left">
                            <div class="info"><img src="media/Img/mozo.png"><span id="mozoAsignado"> -</span></div>
                        </div>
                        <div class="col-6 pp-n-right">
                            <div class="info"><img src="media/Img/bolsa-dinero.png"> Total: <strong
                                    id="total">$-</strong> </div>
                        </div>
                    </div>
                    <div class="row encabezado-lista-pedidos">
                        <div class="col-2 paddingr">
                            <img src="media/Img/pedido.png" class="pedidosIMG">
                        </div>
                        <div class="col-8 pp-none text-lista">LISTA DE PEDIDOS </div>
                        <div class="col-2">
                            <i class="fas fa-plus boton_mas" id="botonAgregarPedidoAMesaMozo"
                                onclick="agregarPedidoAEstaMesa()"></i>
                        </div>

                    </div>
                    <div class="row contenedor-lista-pedidos">
                        <ul id="listadoDePedidosMesa">
                            <li>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2 text-center contenedor-icono-listado">
                                            <h5>#1</h5>
                                        </div>
                                        <div class="col-4 hora-listado">23:14 hr.</div>
                                        <div class="col-4 estado-pedido"><span class="entregado">ENTREGADO</span></div>
                                        <div class="col-2 contenedor-boton-borrar"><img class="boton-borrar"
                                                src="media/Img/inf.png"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="container botonesVerEstadoMesaAdmin">
                    <div class="row" id="botonCerrarMesa">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <button class="boton-modal cancelar" onclick="cerrarMesa()">Cerrar Mesa</button>
                        </div>
                        <div class="col-1"></div>
                    </div>




                    <div class="row" id="botonIndicarQSeLibero">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <button class="boton-modal " onclick="seLiberoLaMesa()">Se liberó la mesa</button>
                        </div>
                        <div class="col-1"></div>
                    </div>



                    <div class="row" id="pedirCuentaDiv">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <button class="boton-modal cancelar" onclick="pedirCuenta()">Cerrar Cuenta</button>
                        </div>
                        <div class="col-1"></div>
                    </div>



                    <div class="row" id="botonEstadisticas">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <button class="boton-modal" id="botonEstadisticas">Estadisticas</button>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <button class="boton-modal " onclick="ocultarEstadoMesa()">OK</button>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    var idMesa = -1;
    var mesa = {};

    function ocultarEstadoMesa() {
        app.esconderUnaParte("partes/verEstadoMesa.html")
    }

    function agregarPedidoAEstaMesa() {
        // app.traerHTML("partes/nuevoPedidoAgregarProductos.html",true,true);
        mostrarModalAgregarProductos(idMesa);
    }

    function cerrarMesa() {
        mostrarModalConfirmacion("Seguro que quiere cerrar la facturación de este mesa?", "Si", "No", function () {
            api.cerrarMesa(mesaActiva.id_mesa, cbCerrarMesa);
        }//cb si
        )//mostrar moal confirmacion
    }//cerrar mesa

    function cbCerrarMesa() {
        mostrarModalConfirmacion("Se ha cerrado la mesa correctamente", "Ok", null, function () {
            ocultarEstadoMesa();
        }//cb si
        )//mostrar moal confirmacion
    }//cerrar me

 

    function cbMostrarEstadoMesa(mesa) {

        console.log(mesa)
        mesaActiva = mesa;
        $("#listadoDePedidosMesa").html("")
        //arma pedidos

        if (mesa.pedidos.length == 0) {
            $("#listadoDePedidosMesa").append("<br>No hay pedidos</br>")
        } else {
            for (var i = 0; i < mesa.pedidos.length; i++) {
                pe = mesa.pedidos[i]
                $("#listadoDePedidosMesa").append(armarPedido(pe))
            }
        }

        //datos
        $("#idMesa").html("#" + mesa.id_mesa)
        if (checkStr(mesa.cliente.nombre_completo)) {
            //SI LA MESA TIENE UN CLIENTE ES QUE TIENE DATA Y TODO
            $("#botonCerrarMesa").hide();
            $("#pedirCuentaDiv").hide();
            $("#botonEstadisticas").hide();
            $("#botonIndicarQSeLibero").hide();
            $("#botonAgregarPedidoAMesaMozo").hide();
            if (usuario.dataUsuario().id_rol == 1 || usuario.dataUsuario().id_rol == 7) {
                //admin
                $("#botonEstadisticas").show();
                if (mesa.estado_mesa > 0 && mesa.estado_mesa < 5) $("#botonCerrarMesa").show()

            } else if (usuario.dataUsuario().id_rol == 2) {
                //mozo
                if (mesa.estado_mesa > 0 && mesa.estado_mesa < 5) $("#pedirCuentaDiv").show();
                if (mesa.estado_mesa == 5) $("#botonCerrarMesa").show();
                if (mesa.estado_mesa != 6) $("#botonAgregarPedidoAMesaMozo").show();
                if (mesa.estado_mesa == 6) $("#botonIndicarQSeLibero").show();

            } else {
                //los demas



            }
            ////
            $("#nombreCliente").html(mesa.cliente.nombre_completo)
            try { $("#cantVisitas").html(mesa.cliente.cant_visitas) } catch (e) { }
            try { $("#cantComensales").html("<b> " + mesa.clienteVisita.comensales + "</b>") } catch (e) { }
            try { $("#mozoAsignado").html(mesa.mozo.nombre_completo) } catch (e) { }
            $("#total").html("$" + mesa.total_mesa)

            $("#horaLlegadaMesa").html(hora(mesa.clienteVisita.date_created));
        } else {
            $("#botonCerrarMesa").hide();
            $("#nombreCliente").html("")
            $("#cantVisitas").html("")
            try { $("#cantComensales").html("") } catch (e) { }
            $("#mozoAsignado").html("")
            $("#total").html("")
            $("#horaLlegadaMesa").html("");
        }

        setTimeout(() => { app.ocultarLoading(); }, 500);

    }

    function mostrarEstadoMesaAdmin(id) {
        // console.log(id)
        idMesa = id;

        app.mostrarLoading()
     

       
        $("#botonEstadisticas").off().click(function () {
            api.estadisticasDeUnaMesa(id,()=>{
                let srt="<ul>";
                    srt+="<li>Cantidad de clientes: "+api.estadisticasMesaActual.cant_clientes_visita+"</li>"
                    srt+="<li>Cantidad de pedidos: "+api.estadisticasMesaActual.cant_pedidos+"</li>"
                    srt+="<li>Facturación total: "+api.estadisticasMesaActual.facturacion_total+"</li>"
                    srt+="</ul>";
                console.log(srt)
                mostrarModalConfirmacion(srt,"ok");
           });
         
        })
        

        api.traerUnaMesa(id, cbMostrarEstadoMesa);


        app.traerHTML("partes/verEstadoMesa.html", true);

    }




    function armarPedido(pedido) {
        console.log("pedido:");
        console.log(pedido)
        html = ' <li>'
        html += '<div class="container">'
        html += '<div class="row" onclick="verPedido(' + pedido.id + ')">'
        html += '<div class="col-2 text-center contenedor-icono-listado"><h5>#' + pedido.id + '</h5></div>'

        let horaPedidoAgregado = hora(pedido.fecha_alta)

        html += '<div class="col-4 hora-listado horaEnListaDePedidos">' + horaPedidoAgregado + ' hs</div>'
        html += '<div class="col-4 estado-pedido"><span style="font-weight:bold">' + estadosPedidos[pedido.estado_pedido].toUpperCase() + '</span></div>'
        html += '<div class="col-2 contenedor-boton-borrar"><img class="boton-borrar" src="media/Img/inf.png"></div>'
        html += '</div>  '
        html += '</div>  '
        html += '</li>'
        return html;

    }
    function seLiberoLaMesa() {
        api.indicarQSeLiberoUnaMesa(mesaActiva.id_mesa, cbMesaLibre);

    }
    function pedirCuenta() {
        api.pedirCuentaMesa(mesaActiva.id_mesa, cbPedirCuenta);
    }

    function cbMesaLibre() {
        console.log("callback liberar mesa");
        ocultarEstadoMesa()

    }
    function cbCerrarMesa() {
        ocultarEstadoMesa()
    }
    
    function cbPedirCuenta() {
        console.log("callback pedir cuenta");
        ocultarEstadoMesa()
    }
</script>