
html, body{
    overflow-x: hidden;
    /* pointer-events: none; */
}
.fondo-modal {
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    background: #ffffffc4;
    z-index: 9999999;
}

.fondo-modal.confirmacion .cuerpo-modal{
	/*height:50%;*/
	text-align:center;
}

.fondo-modal.confirmacion.ventanaModal{
	display:none;
	z-index: 999999999;
}

.nombreZonaMesas{
    color:white;
    width:100%;
    font-weight: 900;
    margin-bottom: 5%;
}
.zonaMesas {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}


.mesa {
    width: 33%;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color:white;
}

.container.contenedor-mesas{
 /*  padding-left:2px !important;
    padding-right:2px !important;*/
    background-color: #200200;
}

.botonFooterAdmin.active {
    background: #E84C3D;
    box-shadow: 0px -5px 0px 0px #E84C3D;
}

.jobs ul {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto !important;
    margin-bottom: 100px;
    margin-top: 3%;
}


.filaEmpleado{
    margin-left: 0px;
    margin-right: 3px;
}

.cuerpo-modal.agregarVerEmpleado{
    height:90%;
    padding-top: 13%;
}

.title-listing .col-10 {
    margin-left: 5px;
    margin-right: -22px;
    padding-left: 7%;
}

.cuerpo-modal .info{
    font-size:100%;
}

.info input {
    background-color: #CCCCCC;
}

.back-header-listing {
 
    position: relative;

}

.menu-botton-selec h6 {
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lista-producto img {
    width: 55% !important;
    transform: translateY(+20%);
}
.bar-top {
    background-color: #fed322;
    padding: 8px 15px;
    top:0px;
    box-shadow: 0px 0px 1px 1px #eea002;
    position: fixed;
    z-index: 5;
}

#listaDeProductos{
	margin-top:7%;
}

.modal-select-producto h5 {
   /* font-size: 15px;*/
    margin-left: 0px !important;
}

#verEstadoMesaAdmin .contenedor-modal .cuerpo-modal{
    height:90%;
}

#verEstadoMesaAdmin .contenedor-modal .cuerpo-modal .container-cuerpo {
    padding: 3px 3px;
    margin-top: 9px;
    max-height: 60vh;
}

#verEstadoMesaAdmin div div div div div{
    font-size: 90%;
    }


span.idMesa {
    background: #e84c3d;
    /* font-size: 26px;*/
    color: black;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

#listadoDePedidosMesa{
        height: 100%;
        overflow-y: scroll;
}

.horaEnListaDePedidos{
    white-space: nowrap;
    overflow:hidden;
    font-size: 130% !important;
}

.encabezado-lista-pedidos img.pedidosIMG {
    width: 57%;
    margin-top: 0px;
}

.botonesVerEstadoMesaAdmin button{
    width:100% !important;
}

.listaDeEstadisticas, #ulStats{
    height:auto !important;
    overflow-y:hidden;
    width:100%;
    margin: 0px;
}

.listaDeEstadisticas .contendor-estado-pedidos{
    height: auto !important;
    overflow-y: hidden;
    padding-bottom:10%;
    }

#ulStats{
     margin-bottom:2%;/
    margin-top: 1.5%;
}
.section-logo {
margin-top:20%;
}

.dataTables_wrapper {
 
width: 100%;
 
padding-top: 10%;
 
padding-bottom: 25%;
}

div#verEstadoMesaAdmin {
    z-index: 999;
}