
<style>

body, html {
    overflow-y: hidden;
}

</style>
<div class="body-color" id="cuerpoPrincipalBotonQR">

    <div class="col-12 bar-top">
        <div class="row">
            <div class="col-2">
                <i class="fas fa-angle-left" onclick="botonVolver()"></i>
            </div>
            <div class="col-8" id="nombreClienteBotonQR">unCliente</div>
            <div class="col-2">

            </div>
        </div>
    </div>

    <div class="cuerpo-modal cuerpo-cliente">
        <div class="text-center">
            <div class="container botonesVerEstadoMesaAdmin">

                <div class="row" id="botonSolicitarMesa">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <button class="boton-modal" style="height: 15vh; font-size: 25px;" onclick="solicitarMesa()">QR
                            Entrada al local</button>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row" id="botonIngresoMesa">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <button class="boton-modal" style="height: 15vh; font-size: 25px;" onclick="ingresarEnMesa()">QR
                            Mesa</button>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row" id="botonHacerReserva">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <button class="boton-modal" style="height: 15vh; font-size: 25px;"
                            onclick="misReservas()">Mis reservas</button>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row" id="botonHacerReserva">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <button class="boton-modal" style="height: 15vh; font-size: 25px;"
                            onclick="hacerReserva()">Hacer una reserva</button>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row" id="botonPedirDelivery">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <button class="boton-modal" style="height: 15vh; font-size: 25px;"
                            onclick="pedirDelivery()">Delivery!</button>
                    </div>
                    <div class="col-1"></div>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        console.log("doc ready botones QR");

        docReady = 1;

        //se fija si tiene pedidos de delivery pendientes
        api.estadoClienteDelivery((e) => { })

        //Parche para nombre en QR
        $("#nombreClienteBotonQR").html(cliente.dataCliente().nombre_completo);

        //SetInterval para ver si tiene un cliente visita
        //cliente.data.email == ""
    });


    function hacerReserva() {
        if (cliente.data.email == "") {
            mostrarModalConfirmacion("Sólo para usuarios registrados (No anónimos)", "OK", null, null, null);
        } else {
            app.traerHTML("partes/nuevaReserva.html", true, false, "hacerReserva", false, "", null);
        }
    }

    
    function misReservas() {
        if (cliente.data.email == "") {
            mostrarModalConfirmacion("Sólo para usuarios registrados (No anónimos)", "OK", null, null, null);
        } else {
            reservaAbierta=1;
            traerReservas();
            app.traerHTML("partes/clientes_reservas.html", true, true, "reservasCliente", true);
        }
    }

    function chequearSiTienePedidosEnViaje() {
        for (let i = 0; i < api.estadoDelivery.delivery.length; i++) {
            d = api.estadoDelivery.delivery[i];
            if (d.estado_pedido != 10 && d.estado_pedido != 5) {
                //pq estado 10 es entregado en domicilio
                return d;
            }
        }
        return -1;
    }
  
    function pedirDelivery() {
         

        if (cliente.data.email == "") {
            mostrarModalConfirmacion("Sólo para usuarios registrados (No anónimos)", "OK", null, null, null);
        } else {
            deliveryAbierto=1;
            $("#listaMensajes").html("");
            api.estadoClienteDelivery((e) => {
                if (chequearSiTienePedidosEnViaje() != -1) {
                    //app.traerHTML("partes/verAgregarPedido.html", true)
                    mesaActiva = {}
                    mesaActiva.pedidos = []
                    mesaActiva.id_mesa = -8
                    mesaActiva.cliente = cliente.data
                    mesaActiva.clienteVisita = {};
                    mesaActiva.clienteVisita.id_cliente_visita = -8
                    mesaActiva.pedidos.push(chequearSiTienePedidosEnViaje());
                    verPedido(chequearSiTienePedidosEnViaje().id);
                } else {
                   
                    mostrarHacerPedidoDeliveryrVerPedido()
                }
            })



        }
    }

    function solicitarMesa() {
        //QR para PUERTA (reserva)


        try {
            cordova.plugins.barcodeScanner.scan(cbSolicitarMesa, QRmal, {
                prompt: "escaneá el qr del producto", // Android
                resultDisplayDuration: 1500,
                orientation: "portrait"
            });
        } catch (e) {
            alert(e);
        }
    }

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
    };


    function ForzarQR_MesaYA() {
        objJSON = {
            tipo: "entrada"
        }

        var QRfake2 = {
            text: JSON.stringify(objJSON)
        };

        cbSolicitarMesa(QRfake2);
    }

    function cbSolicitarMesa(data) {
        //esto es para pedir una mesa YA!

        let a = data.text.replaceAll("”", '"').replaceAll("“", '"');
        // alert(a)

        obj = JSON.parse(a);
        if (obj.tipo == "entrada") {

            app.traerHTML("partes/nuevaReservaYA.html", true, false, "hacerReservaYA", false, "", null);
        } else {
            console.log("Error en QR");
        }
    }

    function ingresarEnMesa() {

        //qr de una mesa

        try {
            cordova.plugins.barcodeScanner.scan(cbEscanearQRMesa, QRmal, {
                prompt: "escaneá el qr de una mesa", // Android
                resultDisplayDuration: 1500,
                orientation: "portrait"
            });
        } catch (e) {
            alert(e);
        }

    }

    function QRmal(e) {
        alert(JSON.stringify(e));
    }

    function ForzarQR_Mesa(mesa) {
        objJSON = {
            tipo: "mesa",
            id: mesa
        }

        var QRfake = {
            text: JSON.stringify(objJSON)
        };

        cbEscanearQRMesa(QRfake);
    }

    function cbEscanearQRMesa(data) {
        let a = data.text.replaceAll("”", '"').replaceAll("“", '"');
        obj = JSON.parse(a);
        let datos = {};
        if (obj.tipo == "mesa") {
            api.clienteSeSientaEnUnaMesaYEscaneaElQRDeLaMesa(obj.id, cliente.data.id_cliente, (e) => {
                if (!e.hasOwnProperty("id_mesa")) {
                    mostrarModalConfirmacion(e.mensaje, "OK", null, null, null);
                } else {
                    //mostrarModalConfirmacion("se registró correctamente en la mesa " + e.id_mesa, "OK", null, null, null);
                    app.traerHTML("partes/verEstadoMesaCliente.html", false, true, "verMiMesa", false, "", null);
                    setTimeout(() => {
                        popularDatosMesa();
                    }, 500);

                }
            });

        }
    }

    function popularDatosMesa() {
       // mostrarEstadoMesaAdmin(api.datosClienteVisita.id_mesa);
        $("#nombreCliente").html(cliente.dataCliente().nombre_completo);
        $("#nombreClienteBotonQR").html(cliente.dataCliente().nombre_completo);
    }

    function botonVolver() {
        let msj = "";
        if (cliente.data.email == "") {
            msj = "Esta es una sesión anónima, si sale se perderán todos sus datos. ¿Seguro quiere cerrar su sesión?";
        } else {
            msj = "¿Seguro quiere cerrar su sesión?";
        }
        mostrarModalConfirmacion(msj, "Si", "No", () => { cliente.logout() }, () => { })
    }

</script>