<style>
    #reservas_lista * {
        font-family: 'Dosis', 'Open Sans'
    }

    .reserva {
        background: #AAAAAA;
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    ul#reservas_lista {
        margin: 0px;
        padding: 2vw;
        overflow: scroll;
        padding-top: 10vh;
        padding-bottom: 15vh;
    }

    .contendorReservas {
        height: 100vh;
        background: #fed322;
        overflow-y: scroll;
        padding-bottom: 10vh;
    }

    .reserva p b {
        font-weight: bold;
    }

    .reserva.rechazada {
        background: rgba(241, 139, 165, 0.842);

    }

    .reserva.confirmada {
        background: rgba(150, 236, 183, 0.842);

    }

    .reserva.noconfirmada {
        background: rgba(243, 255, 80, 0.842);
    }

    .reserva.asignada {
        background: rgba(95, 212, 228, 0.842);
    }
</style>

<div class="contendorReservas">
    <ul id="reservas_lista">
        <li class="reserva"></li>
    </ul>
    <div class="col-12 text-center">
        <button class="boton-modal cancelar" onclick='sacarListadoReservas()'>Salir</button>
    </div>
</div>

<script>


    function traerReservas() {

        $.ajax({
            url: api.urlServer + "reservas/TraerReservasPorCliente",
            type: "post",
            dataType: "json",
            data: {
                id_cliente: cliente.data.id_cliente,
            },
            success: (e) => {

                armarReservas(e)
            }, error: e => console.log(e)
        });
    }

    try { traerReservas(); } catch (e) { }

    function sacarListadoReservas() {
        app.esconderUnaParte(null, "reservasCliente");
        reservasAbierta=0;
    }

    function armarReservas(a) {
        $("#reservas_lista").html("");
        for (let i = 0; i < a.length; i++) {
            $("#reservas_lista").append(armarUnaReserva(a[i]));
        }

        if (a.length == 0) {
            $("#reservas_lista").html("<h4 class='text-center' style='width:100%'>No hay reservas hechas</h4>");
        }

        setTimeout(traerReservas, 5000);
    }



    function asignarMesaAEstaReserva(id) {
        app.mostrarLoading()
        api.metreAsignaMesaAReserva(id, cbMetreReserva);
    }

    function cbMetreReserva(e) {
        app.ocultarLoading();
        if (checkStr(e.mensaje)) {
            mostrarModalConfirmacion(e.mensaje, "ok");
        }

    }

    function armarUnaReserva(a) {

        var estadoReserva = "Sin Confirmar";

        switch (a.confirmada) {
            case 0:
                estadoReserva = "Pendiente de aprobación";
                break;

            case 2:
                estadoReserva = "Aprobada";
                break;

            case 1:
                estadoReserva = "Mesa asignada";
                break;

            case -1:
                estadoReserva = "Rechazada";
                break;

            default:
                break;
        }

        //0 Pendiente de aprobación
        //2 Aprobada
        //1 Mesa asignada
        //-1 Rechazada

        var str = "";

        if (a.confirmada == 0) str = "<li class='reserva noconfirmada'>";
        else if (a.confirmada == 2) str = "<li class='reserva confirmada'>";
        else if (a.confirmada == -1) str = "<li class='reserva rechazada'>";
        else if (a.confirmada == 1) str = "<li class='reserva asignada'>";

        str += "<p>Cantidad de Comensales:<b> " + a.comensales + "</b></p>";
        str += "<p>Hora de Reserva: <b>" + a.fecha_alta + "</b></p>";
        str += "<p>Para cuándo: <b>" + a.fecha + "</b></p>";
        str += "<p>Estado: <b>" + estadoReserva + "</b></p>";

        str += "</li>";

        return str;

    }
</script>