<div class="container-fluid">
    <div class="row">
        <div class="col-12 bar-top">
            <div class="row">
                <div class="col-2">
                    <!--    <i class="fas fa-angle-left"></i>-->
                </div>
                <div class="col-8">Iniciar Sesión</div>
                <div class="col-2"></div>
            </div>
        </div>

        <div class="col-12 section-logo">
            <img src="media/Img/logo-amarillo.png" />
        </div>

        <div class="col-12">
            <div class="container-logg">
                <div class="row">
                    <div class="col-2">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="col-10">
                        <input class="form-control" type="text" placeholder="Email" id="email" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="col-10">
                        <input class="form-control" id="pass" type="number" placeholder="DNI" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 section-button">
            <button id="botonLogin">Iniciar Sesión</button>
            <button id="botonRegistrarme">Registrarme</button>
            <!-- <h5><a href="#">Olvidaste la contraseña?</a></h5>-->
        </div>

        <div class="col-12 section-button">
            <button id="botonUsuarioAnonimo">Ingreso anónimo</button>
            <!-- <button id="botonTestingRoles">Usuarios de prueba</button> -->
            <!-- <h5><a href="#">Olvidaste la contraseña?</a></h5>-->
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("doc ready login ");
        $("#botonLogin").click(clickLogin);
        $("#botonRegistrarme").click(clickRegistrarme);
        /* $("#botonTestingRoles").click(clickClientesPrueba); */
        $("#botonUsuarioAnonimo").click(clickAltaAnonimo);
    });//doc ready

    let callbackLogin = function (r) {
        console.log(r);
        if (r.itsOK == false) {
            mostrarModalConfirmacion(r.mensaje, "OK", null, null, null);
        } else {
            cliente.meterleToken(r.token);
            app.quePasaDespuesDeLogin();
        }
    }//cblogin

    function clickLogin() {

        if (!validateEmail($("#email").val())) {
            mostrarModalConfirmacion("Email invalido", "OK", null, null, null);
            return;
        }

         let mail = $("#email").val()
         let clave = $("#pass").val()

       //  let mail = "dario.olinuck@gmail.com";
       //  let clave = "12312312";


        api.logueo(mail, clave, callbackLogin);
    }

    function clickAltaAnonimo(){
        mostrarModalNuevoAnonimo();
    }

    function clickRegistrarme() {
        mostrarModalNuevoCliente();
    }

    function clickClientesPrueba() {
        app.traerHTML("partes/perfilesDePrueba.html", true);
    }

</script>