<style>
    input#direccionDelivery {
        width: 100%;
    }

    div#contMapa {
        height: 32vh;
        width: 100%;
        left: 0px;
        z-index: 999;
        margin-top: 20px;
    }
</style>


<div class="fondo-modal" id="nuevoDelivery">
    <div class="contenedor-modal">
        <div class="cuerpo-modal">
            <!-- <div class="container-cuerpo">-->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                      
                        <div id="contMapa"></div><br>
                        <p>Indicaciones: <br></p><input id="direccionDelivery">
                    </div>
                </div>
            </div>
            <!--  </div>-->
            <hr>

            <!--  <button class="boton-modal" id="botonAgregarProductoAPedido" onclick="agregarProducto()" style="display:none">Gestionar Productos</button>-->
            <div class="row">
                <div class="col-6 text-center"> <button class="boton-modal"
                        onclick="mandarPedidoDelivery()">Pedir!</button>
                </div>
                <div class="col-6 text-center"> <button class="cancelar boton-modal"
                        onclick="ocultarHacerPedidoDelivery()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLU94xw_Qz3MFbKqhJXqu62XKhJtypZNg&libraries=places&callback=initAutocomplete"
    type="text/javascript"></script>



<script>


    var placeSearch, autocomplete;


    var pedido = {};
    var mesaActiva;
    var map = null;
    var marcadores = [];
    var directionsService, directionsDisplay;

    var tuLat, tuLng;
    var latNegocio = -34.66;
    var lngNegocio = -58.36;

    function fillInAddress() {
        console.log("fill in address");
    }

    function initAutocomplete() {
        console.log("init auto complete")

/*

        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('direccionDelivery'), { types: ['geocode'] });

        autocomplete.addListener('place_changed', fillInAddress);*/
    }

    function ocultarHacerPedidoDelivery() {

        app.esconderUnaParte("partes/nuevoDelivery.html")
        deliveryAbierto=0;
    }
    function mostrarHacerPedidoDeliveryrVerPedido() {

        if (map == null) armarMapa()
        $("#contMapa, #bgnegro").fadeIn();

        for (let i = 0; i < marcadores.length; i++) {
            marcadores[i].setMap(null);
        }
        marcadores = [];
        //meto el icono del delivery boy
        navigator.geolocation.getCurrentPosition((e) => {
            tuLat = e.coords.latitude;
            tuLng = e.coords.longitude;
            console.log(tuLat, tuLng);

            meterIconoEnvio(e.coords.latitude, e.coords.longitude);
            meterIconoUsuario(latNegocio, latNegocio);
            calcRoute(latNegocio, latNegocio, tuLat, tuLng)
        });

        app.traerHTML("partes/nuevoDelivery.html", true, true)
    }

    function mandarPedidoDelivery() {

        if ($("#direccionDelivery").val().length < 4) {
            mostrarModalConfirmacion("Agregue alguna indicación para poder encontrarlo más fácilmente.", "ok")
            return;
        }

        pedido = {}; //por las dudas
        mesaActiva = {}
        mesaActiva.id_mesa = -8
        mesaActiva.cliente = {}
        mesaActiva.cliente.id_cliente = cliente.data.id_cliente //id_cliente
        mesaActiva.clienteVisita = {};
        mesaActiva.clienteVisita.id_cliente_visita = -8 //otro -8 para el id_cliente_visita
        mostrarModalAgregarProductos(-8)
        app.mostrarLoading();
        setTimeout(()=>{app.ocultarLoading()}, 1000)
        ocultarHacerPedidoDelivery()
  
        pedido.latitud=tuLat
        pedido.longitud=tuLng
        pedido.direccion=$("#direccionDelivery").val()
    }


    function armarMapa() {
        initAutocomplete();

        var settings = {
            zoom: 13,
            scrollwheel: true,
            center: (new google.maps.LatLng('-34.655815', '-58.497101')),
            draggable: true,
            disableDefaultUI: true,
            mapTypeControl: false,
            mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
            navigationControl: true,
            navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL },
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('contMapa'), settings);
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);
    }


    function calcRoute(origenLat, origenLng, destLat, destLng) {
        let ori = new google.maps.LatLng(origenLat, origenLng);
        let dest = new google.maps.LatLng(destLat, destLng);
        var request = {
            origin: ori,
            destination: dest,
            travelMode: google.maps.TravelMode["DRIVING"]
        };
        directionsService.route(request, function (response, status) {
            if (status == 'OK') {
                directionsDisplay.setDirections(response);
            }
        });
    }

    function meterIconoUsuario() {

        let mk2 = new google.maps.Marker({
            position: (new google.maps.LatLng(tuLat, tuLng)),
            //  icon: "images/usericon.png",
            // scaledSize: new google.maps.Size(escala*100, escala*100), // scaled size
            draggable: false,
            map: map,
            title: "Vos",
            icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 10
            }
        });
        marcadores.push(mk2);
        return mk2;
    }

    function meterIconoEnvio() {

        let mk = new google.maps.Marker({
            position: (new google.maps.LatLng(latNegocio, lngNegocio)),
            draggable: false,
            map: map,
            title: "Vos"
        });
        marcadores.push(mk);
        return mk;
    }

</script>