<div class="fondo-modal" id="nuevoCliente">
    <div class="contenedor-modal">
        <div class="cuerpo-modal">
            <div class="container-cuerpo">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="info">
                                Nombre completo: <input placeholder="Nombre" id="nombreNuevoCliente">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="info">
                                DNI: <input id="dniNuevoCliente" placeholder="DNI" type="number" maxlength="8">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="info text-center">
                                <button class="boton-modal " onclick="escanearCodigoQRdelDNI()">
                                    Escanear QR del DNI
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="info ">
                                Email:
                                <input id="emailNuevoCliente" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button onclick='sacarFotoCliente()' class="boton-modal centro" id="botonFotoEmpleado">
                                Sacar Foto
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <button class="boton-modal" id="agregar" onclick="agregarCliente()">Registrarme</button>
                        </div>
                        <div class="col-6">
                            <button class="boton-modal cancelar" onclick="ocultarModalNuevoCliente()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var fotoCargadaBase64;

    //===========Foto Cliente
    function sacarFotoCliente() {
        try {
            navigator.camera.getPicture(onSuccess, onFail, {
                quality: 50,
                destinationType: Camera.DestinationType.DATA_URL
            });
        } catch (e) {
            alert(e)
        }
    }

    function onSuccess(imageData) {
        var image = document.getElementById('myImage');
        //image.src = "data:image/jpeg;base64," + imageData;
        fotoCargadaBase64 = "data:image/jpeg;base64," + imageData;
    }

    function onFail(message) {
        alert('Failed because: ' + message);
    }
    //============Termina FotoCliente

    function mostrarModalNuevoCliente() {
        console.log("nuevo cliente");
        app.traerHTML("partes/nuevoCliente.html", true, true);
    }

    function agregarCliente() {

        let nombre = $("#nombreNuevoCliente").val();
        let email = $("#emailNuevoCliente").val();
        let dni = $("#dniNuevoCliente").val();

        if (email == "") {
            mostrarModalConfirmacion("Complete su email", "OK", null, null, null);
            return;
        }

        if (nombre == "") {
            mostrarModalConfirmacion("Complete su nombre", "OK", null, null, null);
            return;
        }

        if (dni == "") {
            mostrarModalConfirmacion("Complete su DNI", "OK", null, null, null);
            return;
        }

        let data = {
            "nombre_completo": nombre,
            "email": email,
            "dni": dni,
            "foto": fotoCargadaBase64
        };

        api.registro(data, cbClienteRegistrado);

        //foto es el archivo como viene del input
        //lo q le sigue es un callback cuyo parametro es el string base64

        //comento todo lo que estaba para agregar de camara
        // let foto = null;

        // if ($("#fotoNuevoCliente")[0].files.length == 1) {
        //     foto = $("#fotoNuevoCliente")[0].files[0]
        //     base64(foto, (fotoBase64) => {
        //         data.foto = fotoBase64;
        //         api.habilitarMesa(data, cbClienteRegistrado)
        //     })
        // } else {
        //     //no hay foto
        //     data.foto = '';
        //     api.habilitarMesa(data, cbClienteRegistrado)

        // }
    }

    function ocultarModalNuevoCliente() {
        app.esconderUnaParte("partes/nuevoCliente.html");
    }

    function cbClienteRegistrado(rta) {
        console.log("respuesta", rta);
        if (rta.estado == "OK") {
            if (rta.envio_mail) {
                mostrarModalConfirmacion("Bien! Te registraste. Te llegará un mail para confirmar tu registro.", "OK", null, null, null);
            } else {
                mostrarModalConfirmacion("Te registraste. Pero hubo un error al enviarte el mail de confirmación, comunícate con nuestro soporte técnico.", "OK", null, null, null);
            }
            app.esconderUnaParte("partes/nuevoCliente.html");
        } else {
            mostrarModalConfirmacion(rta.mensaje, "OK", null, null, null);
        }
    }

    function escanearCodigoQRdelDNI() {
        try {
            cordova.plugins.barcodeScanner.scan(QRok, QRmal, {
                /*preferFrontCamera : false, // iOS and Android
                showFlipCameraButton : true, // iOS and Android
                showTorchButton : false, // iOS and Android, linterna
                torchOn: false,*/ // Android, launch with the torch switched on (if available)
                prompt: "escaneá el qr del DNI", // Android
                resultDisplayDuration: 1500
                /*, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
                        formats : "QR_CODE,PDF_417", // default: all but PDF_417 and RSS_EXPANDED
                        orientation : "landscape",*/ // Android only (portrait|landscape), default unset so it rotates with the device
                /* disableAnimations : true, // iOS
                    disableSuccessBeep: false // iOS*/
            });
        } catch (e) {
            alert(e);
            //actualizarDatos();      
        }
    }

    function QRok(data) {
        var myJSON = JSON.stringify(data);

        //alert(myJSON);
        cargarDatosScaneados(data.text);
    }

    function QRmal(error) {
        alert("Error: " + error)
    }

    function cargarDatosScaneados(data) {

        alert("Falta programar!");
        //Valido para empleado configuar cliente
        // datosDNI = data.split('@');
        // numeroDNI = parseInt(datosDNI[1]);
        // nombreCompletoDNI = datosDNI[4] + ' ' + datosDNI[5];
        // fechaDNI = datosDNI[7].split('/')[2] + '-' + datosDNI[7].split('/')[1] + '-' + datosDNI[7].split('/')[0];

        // $("#nombre").val(nombreCompletoDNI);
        // $("#dni").val(numeroDNI);
        // $("#fechaNac").val(fechaDNI);
    }
</script>