<div class="fondo-modal" id="agregarReserva">
    <div class="contenedor-modal">
        <div class="cuerpo-modal agregarVerEmpleado">
            <div class="container">

                <div class="row">
                    <div class="col-6 inf-add">
                        <div class="info"> Comensales</div>
                    </div>
                    <div class="col-6 select-add">
                        <div class="info">
                            <input type="number" id="comensales">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 inf-add">
                        <div class="info"><img src="media/Img/calendario-gris.png"> Fecha</div>
                    </div>
                    <div class="col-6 select-add-fecha">
                        <div class="row">
                            <div class="col-12 info">
                                <input type="date" id="fecha">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 inf-add">
                        <div class="info"><img src="media/Img/calendario-gris.png"> Hora</div>
                    </div>
                    <div class="col-6 select-add-fecha">
                        <div class="row">
                            <div class="col-12 info">
                                <input type="time" id="hora">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button class="boton-modal" onclick='pedirReserva()' id="botonHacerReserva">Reservar</button>
                    </div>
                    <div class="col-6">
                        <button class="boton-modal cancelar" onclick='sacarModalReserva()'>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    //$("#contenedorSelectMesa").html(array2Select(mesasLibres, "mesa"));

    function cbAgregarReserva(e) {
        sacarModalReserva();
    }

    function sacarModalReserva() {
        app.esconderUnaParte(null, "modalNuevaReserva");
        reservaAbierta=0;
    }

    function pedirReserva() {

        reserva = {};
        reserva = TraerDatosDelFormulario();

        if (datosValidados == true) {

            datos = {
                id_cliente: cliente.data.id_cliente,
                id_mesa: -5, //por defecto sin mesa, el metre le asigna una mesa libre random
                comensales: reserva.comensales,
                fecha: reserva.fecha + " " + reserva.hora
            };

            console.log("DATOS que se envian: ", datos);

            api.reservaAhoraCliente(datos, cbAgregarReserva);

        }
    }

    function TraerDatosDelFormulario() {

        reserva = {};

        reserva.comensales = $("#comensales").val();
        reserva.hora = $("#hora").val();
        reserva.fecha = $("#fecha").val();

        if (!validarInput($("#comensales").val())) {
            mostrarModalConfirmacion("Ingresar la cantidad comensales", "OK", null, null, null)
            datosValidados = false;
            return;
        }

        if (!validarInput($("#fecha").val())) {
            mostrarModalConfirmacion("Ingresar la fecha para cuando quiere la reserva", "OK", null, null, null)
            datosValidados = false;
            return;
        }

        if (!validarInput($("#hora").val())) {
            mostrarModalConfirmacion("Ingresar la hora para cuando quiere la reserva", "OK", null, null, null)
            datosValidados = false;
            return;
        }

        if ($("#comensales").val()>6) {
            mostrarModalConfirmacion("Disculpe no contamos con una mesa con "+$("#comensales").val()+" sillas. Puede comunicarse con nuestro metre para poder hacer un pedido especial.", "OK", null, null, null)
            datosValidados = false;
            return;
        }

        var GivenDate = $("#fecha").val();
        var CurrentDate = new Date();
        var GivenTime = $("#hora").val();
        GivenDate = new Date(GivenDate + " " + GivenTime);

        if (GivenDate < CurrentDate) {
            mostrarModalConfirmacion("Ingresar una fecha y hora FUTURA para cuando quiere la reserva", "OK", null, null, null);
            datosValidados = false;
            return;
        }

        datosValidados = true;
        return reserva;
    }

    function quetienelafecha() {
        console.log($("#fecha").val());
    }

    function quetienelahora() {
        console.log($("#fecha").val());
    }

</script>