<style>
    li.prodListo {
        background: #50e089;
    }
</style>

<div class="fondo-modal" id="verPedidoMozo">
    <div class="contenedor-modal">
        <div class="cuerpo-modal">
            <!-- <div class="container-cuerpo">-->
            <div class="container">
                <div class="row">
                    <div class="col-6 pp-n-left">
                        <div class="info"><img src="media/Img/pedido-gris.png"> PEDIDO #<span
                                id="pedidoIDVerPedido"></span></div>
                    </div>
                    <div class="col-6 pp-n-right">
                        <div class="info"><img src="media/Img/mesa-gris.png"> <span id="textoMesa">MESA #</span><span
                                id="mesaIdVerPedido"></span></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 pp-n-left">
                        <div class="info">Pedido:<br> <strong id="horaPedido">--:--</strong></div>
                    </div>
                    <div class="col-4 pp-n-right">
                        <div class="info">Estimado:<br> <strong id="horaEstimada">--:--</strong></div>
                    </div>
                    <div class="col-4 pp-n-right">
                        <div class="info">Entregado: <br><strong id="horaServido">--:--</strong></div>
                    </div>
                </div>
                <div class="row encabezado-lista-pedidos">PRODUCTOS</div>

                <div class="row contenedor-listados-pedidos">
                    <ul id="listaProductos">
                    </ul>
                </div>
            </div>
            <!--  </div>-->
            <hr>
            <div class="text-center" id="contBotonChat">
                <button class="boton-modal" onclick="abrirChat()">Chat Delivery</button>
            </div>
            <div class="text-center">
                <button class="boton-modal" onclick="ocultarVerPedido()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>




    var pedido = {};
    var mesaActiva;
    var intervalChat;

    function abrirChat() {
        app.esconderUnaParte("partes/verAgregarPedido.html");
        //    traerHTML(url, append, forzarNoCache, id, traerloOculto, clase, cb) {


        app.traerHTML("partes/chatDelivery.html", true, true, "chatDelivery", false, '', () => {
           intervalChat = setInterval(TraerMensajesChat, 1000)



        });

    }


    function agregarProducto() {
        mostrarModalAgregarProductos(mesa.id); //esta func viene de nuevoPedidoAgregarProductos
    }
    function verPedido(id) {
        console.log(id);
        app.traerHTML("partes/verAgregarPedido.html", true);
        if (id == "agregar") {
            console.log("agregar pedido!")
            $("#contBotonChat").hide();
            /* $("#listaProductos").html("")
             $("#mesaIdVerPedido").html(mesa.id)
             $("#pedidoIDVerPedido").html("--")
             $("#botonAgregarProductoAPedido").show();
              $("#horaPedido, #horaEstimada, #horaServido").html("--:--")*/
            mostrarModalAgregarProductos(); //esta fun sale de nuevoPedidoAgregarProductos.html



        } else {
            $("#botonAgregarProductoAPedido").hide();

            pe = mesaActiva.pedidos[id2i(id, mesaActiva.pedidos)]


            console.log("el pedido " + id + " tiene " + pe.productos.length + " productos")

            $("#horaPedido").html(hora(pe.fecha_alta))
            $("#horaEstimada").html(hora(pe.hora_estimada))
            $("#horaServido").html(hora(pe.hora_listo))

            $("#listaProductos").html("")

            for (i = 0; i < pe.productos.length; i++) {
                prod = pe.productos[i]
                $("#listaProductos").append(armarProducto(prod))
            }

            $("#mesaIdVerPedido").html(mesaActiva.id_mesa)
            $("#pedidoIDVerPedido").html(id)
            mostrarVerPedido();
            $("#textoMesa").html("Mesa #")

            if (mesaActiva.id_mesa == -8) {

                //delivery
                if (mesaActiva.pedidos[0].estado_pedido == 8) {
                    $("#contBotonChat").show();
                } else {
                    $("#contBotonChat").hide();
                }
                $("#textoMesa").html("")
                $("#mesaIdVerPedido").html(estadosPedidos[pe.estado_pedido])
            } else {
                $("#contBotonChat").hide();
            }

        }



    }



    function ocultarVerPedido() {
        app.esconderUnaParte("partes/verAgregarPedido.html")
        if (mesaActiva.id_mesa == -8) {
            //ES PARA DELIVERY
            if (mesaActiva.pedidos[0].estado_pedido == 8) {
                //8 es yendo en moto
                mostrarModalConfirmacion("ya recibiste tu pedido?", "si", "no", () => {
                    api.clienteInformaQRecibioPedido(mesaActiva.pedidos[0].id);
                    mostrarModalConfirmacion("Ha pagado de acuerdo a lo convenido?", "si", "no", ()=>{
                        mostrarModalConfirmacion("Está conforme con el desempeño del Niño Delivery?", "si", "no", ()=>{
                            //AH RE
                          }) //esta conforme
                    })//HA PAGADO
                }); //recibiste
            } //if
        } //mesaactiva

    } //func


    function mostrarVerPedido() {
        app.traerHTML("partes/verAgregarPedido.html", true, true)
    }

    function armarProducto(producto) {
        html = ""
        if (producto.listo == 1) html += "<li class='prodListo'>";
        else html += '<li>'
        html += '<div class="container">'
        html += '<div class="row">'
        html += '<div class="col-2 text-center"><span class="numero-pedido">#' + producto.id_producto + '</span></div>'
        html += '<div class="col-10">' + producto.nombre_producto + '<span style="float:right">x' + producto.cantidad + '</span></div>'
        //  html += '<div class="col-1 contenedor-boton-borrar">x'++'</div>'
        html += '</div>  '
        html += '</div> '
        html += '</li>'
        return html
    }
</script>