<div class="body-color" id="cuerpoPrincipal">

    <div class="col-12 bar-top">
        <div class="row">
            <div class="col-2">
                <i class="fas fa-angle-left" onclick="botonVolver_()"></i>
            </div>
            <div class="col-8" id="nombreCliente">unCliente</div>
            <div class="col-2">

            </div>
        </div>
    </div>

    <div class="cuerpo-modal cuerpo-cliente">
        <div class="container-cuerpo">
            <div class="container">
                <div class="row">
                    <span id="idMesa" class="idMesa">#5</span>
                </div>
                <div class="row">

                    <div class="col-6 pp-n-right">
                        <div class="info">
                            <img src="media/Img/checar-gris.png">
                            Llegada: <strong id="horaLlegadaMesa">xx</strong>
                        </div>
                    </div>

                    <div class="col-6 pp-n-right">
                        <div class="info">
                            <img src="media/Img/bolsa-dinero.png">
                            Total: <strong id="total">$400</strong>
                        </div>
                    </div>
                </div>
                <div class="row encabezado-lista-pedidos">
                    <div class="col-2 paddingr">
                        <img src="media/Img/pedido.png" class="pedidosIMG">
                    </div>
                    <div class="col-8 pp-none text-lista">LISTA DE PEDIDOS </div>
                    <div class="col-2">
                        <i class="fas fa-plus boton_mas" id="botonAgregarPedidoAMesaMozo"
                            onclick="agregarPedidoAEstaMesa()"></i>
                    </div>
                </div>
                <div class="row contenedor-lista-pedidos">
                    <ul id="listadoDePedidosMesa">
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-2 text-center contenedor-icono-listado">
                                        <h5>#1</h5>
                                    </div>
                                    <div class="col-4 hora-listado">23:14 hr.</div>
                                    <div class="col-4 estado-pedido"><span class="entregado">ENTREGADO</span></div>
                                    <div class="col-2 contenedor-boton-borrar"><img class="boton-borrar"
                                            src="media/Img/inf.png"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="container botonesVerEstadoMesaAdmin">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <!-- <button class="boton-modal cancelar" onclick="ScannearPropina()">Dar propina</button> -->
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" id="botonPedirCuenta">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <button id="sosBoton" class="boton-modal cancelar" onclick="pedirCuenta()">Pedir la
                            cuenta</button>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
     

    $(document).ready(function () {
        console.log("doc ready ver estado mesa cliente");

        docReady = 1;

        try { $("#nombreCliente").html(cliente.dataCliente().nombre_completo); }
        catch (e) { }

  
    });

    console.log("estado.js");

    function botonVolver_() {
        let msj = "";
        if (cliente.data.email == "") {
            msj = "Esta es una sesión anónima, si sale se perderán todos sus datos. ¿Seguro quiere cerrar su sesión?";
        } else {
            msj = "¿Seguro quiere cerrar su sesión?";
        }
        mostrarModalConfirmacion(msj, "Si", "No", () => { cliente.logout() }, () => { });
    }

    var idMesa = -1;
    var mesa = {};

    var MesaActual = {
        id_mesa: "",
        total_consumos: 0,
        total_mesa: 0,
        id_mozo: -1,
        pedidosMesa: ""
    }

    function agregarIDMesa() {
        if (api.datosClienteVisita != null) {
            idMesa = api.datosClienteVisita.id_mesa;
        }
    }

    function ocultarEstadoMesa() {
        app.esconderUnaParte("partes/verEstadoMesaCliente.html");
    }

    function agregarPedidoAEstaMesa() {
        // app.traerHTML("partes/nuevoPedidoAgregarProductos.html",true,true);
        if (mesaActiva.estado_mesa != 5) {
            mostrarModalAgregarProductos(api.datosClienteVisita.id_mesa);
        } else {
            mostrarModalConfirmacion("Usted ya pagó la cuenta", "OK", null, null, null);

        }
    }

    function pedirCuenta() {
        if(mesaActiva.pedidos.length==0){
            mostrarModalConfirmacion("No tenés nigun pedido, no podés pedir la cuenta", "ok");
            return;
        }
        mostrarModalConfirmacion("¿Seguro que quiere pedir la cuenta mesa?", "Si", "No", () => {
            $("#botonPedirCuenta").hide();
            //prompt para propina
            app.mostrarLoading();
            $.ajax({
                url: api.urlServer + "mesa/pedirCuenta",
                type: "post",
                dataType: "json",
                data: {
                    "id_mesa": api.datosClienteVisita.id_mesa
                },
                success: (e) => {
                    app.ocultarLoading();
                    //aca habria q evaluar segun lo q viene del server
                    //una vez cerrada la mesa


                    MesaActual.pedidosMesa = e.pedidos;
                    MesaActual.id_mesa = e.id_mesa;
                    MesaActual.total_consumos = e.total_mesa;

                    console.clear();
                    console.log("Datos de la mesa a cerrar");
                    console.log(e);
                    mostrarModalConfirmacion("Por favor escannear el qr para indicar su satisfacción", "Si", "No", ScannearPropina, null);
                }, error: e => { console.log(e); app.ocultarLoading(); }
            }) //ajax
        }//cb si
        )//mostrar moal confirmacion
    }//pedir cuenta mesa


    function ForzarQR_Propina(parametro) {

        objJSON = {
            tipo: "propina",
            id: parametro
        }

        var QRfake2 = {
            text: JSON.stringify(objJSON)
        };

        callBackQRPropina(QRfake2);
    }

    function ScannearPropina() {

        try {
            cordova.plugins.barcodeScanner.scan(callBackQRPropina, QRmalScannearPropina, {
                prompt: "escaneá el qr de la mesa", // Android
                resultDisplayDuration: 1500,
                orientation: "portrait"
            });
        } catch (e) {
            alert(e);
        }

    }


    function callBackQRPropina(data) {

        obj = JSON.parse(data.text);
        var mensaje = "Desea agregarle un ";
        var finalMensaje = "% de propina a la cuenta?";
        var prop = ""

        if (obj.tipo == "propina") {
            var propina = obj.id;
            var porcentajePropina = 0;

            switch (propina) {
                case 1:
                    prop = "20";
                    porcentajePropina = 0.20;
                    break;
                case 2:
                    prop = "15";
                    porcentajePropina = 0.15;
                    break;
                case 3:
                    prop = "10";
                    porcentajePropina = 0.10;
                    break;
                case 4:
                    prop = "5";
                    porcentajePropina = 0.05;
                    break;
                case 5:
                    prop = "0";
                    break;
                default:
                    prop = "0";
                    break;
            }


            mostrarModalConfirmacion(mensaje + prop + finalMensaje, "Sí", "No", function () {

                //mostrar el total acá
                $("#contenidoModalConfirmacion").html("")

                contenidoHTML = "";
                contenidoHTML += '<div class="container"><ul>'

                for (var i = 0; i < MesaActual.pedidosMesa.length; i++) {

                    var unPedido = MesaActual.pedidosMesa[i];

                    for (var j = 0; j < unPedido.productos.length; j++) {

                        var elProducto = unPedido.productos[j];
                        contenidoHTML += armarProductoFacturacion(elProducto);

                    }
                }

                var TotalPropina = parseInt(MesaActual.total_consumos) * porcentajePropina;
                var TotalCuenta = parseInt(MesaActual.total_consumos) + parseInt(TotalPropina);

                MesaActual.propina = TotalPropina;
                MesaActual.total_mesa = TotalCuenta;

                contenidoHTML += '<li><b>Total Consumos: ' + MesaActual.total_consumos + '</b></li>';
                contenidoHTML += '<li>Propina: ' + TotalPropina + '</li>';
                contenidoHTML += '<li><b>Total Cuenta: ' + TotalCuenta + '</b></li></ul></div>';

                mostrarModalConfirmacion(contenidoHTML, "ok", CargarTotalFacturacion, null)
            }, null);

        }
    }


    function CargarTotalFacturacion() {

        datos = {
            id_mesa: MesaActual.id_mesa,
            total_mesa: MesaActual.total_mesa,
            porcentaje_propina: MesaActual.propina,
            id_mozo: MesaActual.id_mozo,
            satisfaccion: MesaActual.propina
        };


        mostrarModalConfirmacion("Pruebe sus chances de ganar un postre gratis", "ok", "cancelar", () => {
            cargarFlappy(datos);
        }, () => {

            api.cargarFacturacion(datos, function () {
                $("#sosBoton").hide();
            }
            );
        });
    }


    var flappybird = null;

    function cargarFlappy(datos) {

        console.log(datos)

        //falta facu terminar
        //api.cargarFacturacion(datos, function ()

        app.traerHTML("partes/flappy-juego/flappy.html", true, false, "flappy", false, "fija", () => {
            setTimeout(() => { flappybird = new Flappy() }, 500);
        })
    }

    function armarProductoFacturacion(producto) {

        var precioProductos = parseInt(producto.cantidad) * parseInt(producto.precio);

        html = '<li>' + producto.nombre_producto + '    x' + producto.cantidad + '    $' + precioProductos + '</li>';
        return html;
    }


    function QRmalScannearPropina(error) {
        alert("Error: " + error)
    }



    function cbMostrarEstadoMesa(mesa) {

        app.ocultarLoading();

        console.log(mesa)
        mesaActiva = mesa;
        $("#listadoDePedidosMesa").html("")
        //arma pedidos

        if (mesa.hasOwnProperty("pedidos")) {
            if (mesa.pedidos.length == 0) {
                $("#listadoDePedidosMesa").append("<br>No hay pedidos</br>")
            } else {
                for (var i = 0; i < mesa.pedidos.length; i++) {
                    pe = mesa.pedidos[i]
                    $("#listadoDePedidosMesa").append(armarPedido(pe))
                }
            }
        }

        //datos
        $("#idMesa").html("#" + mesa.id_mesa)
        if (checkStr(mesa.cliente.nombre_completo)) {
            //SI LA MESA TIENE UN CLIENTE ES QUE TIENE DATA Y TODO
            //$("#botonCerrarMesa, #botonEstadisticas").hide();
            $("#botonAgregarPedidoAMesaMozo").show();

            ////
            // $("#nombreCliente").html(mesa.cliente.nombre_completo)
            // $("#cantVisitas").html(mesa.cliente.cant_visitas)
            // $("#cantComensales").html("<b> " + mesa.clienteVisita.comensales + "</b>")
            //  $("#mozoAsignado").html(mesa.mozo.nombre_completo)
            $("#total").html("$" + mesa.total_mesa)

            $("#horaLlegadaMesa").html(hora(mesa.clienteVisita.date_created));
        } else {
            $("#botonCerrarMesa").hide();
            $("#nombreCliente").html("")
            try { $("#cantVisitas").html("") } catch (e) { }
            $("#cantComensales").html("")
            try { $("#mozoAsignado").html("") } catch (e) { }
            $("#total").html("")
            $("#horaLlegadaMesa").html("");
        }

    }

    function mostrarEstadoMesaAdmin(id) {
        // console.log(id)

        //app.mostrarLoading();

        idMesa = id;
        /*  $("#botonEstadisticas").off().click(function () {
              window.location.href = "estadisticas.html?mesaId=" + id
          })*/

        api.traerUnaMesa(id, cbMostrarEstadoMesa);

        app.traerHTML("partes/verEstadoMesaCliente.html", true);

    }

    function armarPedido(pedido) {


        html = ' <li>'
        html += '<div class="container">'
        html += '<div class="row" style="text-align: center">'
        html += '<div style="display: inline-block" class="col-2 text-center contenedor-icono-listado"><h5>#' + pedido.id + '</h5></div>'

        let horaPedidoAgregado = hora(pedido.fecha_alta)

        html += '<div style="display: inline-block" class="col-2 hora-listado horaEnListaDePedidos">' + horaPedidoAgregado + ' hs</div>'
        if (mesaActiva.estado_mesa >= 5 && mesaActiva.estado_mesa < 7) {
            html += '<div style="display: inline-block" class="col-4 estado-pedido"><span style="font-weight:bold"> Esperando la cuenta </span></div>';
        } else if (mesaActiva.estado_mesa == 7) {
            html += '<div style="display: inline-block" class="col-4 estado-pedido"><span style="font-weight:bold"> Falta preparar productos </span></div>';
        } else {
            html += '<div style="display: inline-block" class="col-4 estado-pedido"><span style="font-weight:bold">' + estadosPedidos[pedido.estado_pedido].toUpperCase() + '</span></div>';
        }
        html += '<div style="display: inline-block" class="col-2 botonPedidoEntregado">'
        if (pedido.estado_pedido == 3) {
            html += ' <img class="boton-borrar" onclick="informarPedidoEntregado(' + pedido.id + ',' + api.datosClienteVisita.id_mesa + ')" src="images/ok.png" style="height: 36px;    width: auto;     border-radius: 60px;">';
        }
        html += "</div>";
        html += '<div style="display: inline-block" onclick="verPedido(' + pedido.id + ')" class="col-2 contenedor-boton-borrar"><img class="boton-borrar" src="media/Img/inf.png"></div>'
        html += '</div>  '
        html += '</div>  '
        html += '</li>'
        return html;
    }

    function informarPedidoEntregado(id_pedido, id_mesa) {
        app.mostrarLoading();
        $.ajax({
            url: api.urlServer + "/pedido/ClientesComiendo",
            type: "post",
            dataType: "json",
            data: {
                'id_pedido': id_pedido,
                'id_mesa': id_mesa
            },
            success: (e) => {

                api.traerUnaMesa(api.datosClienteVisita.id_mesa, cbMostrarEstadoMesa);
                // cbMostrarEstadoMesa(e);
            },
            error: e => console.log(e)
        });
    }
</script>